<!-- templates/about/author.html -->
{% extends "base.html" %}
{% block title %}Об авторе проекта{% endblock %}
{% load static %}
{% block content %}
<h2>Персональная страница Дарьи Александровны Жбановой</h2>
<p>
  <img src="{% static 'img/fav/geek-girl.jpg' %}" width=85" height="85">
  <h5>Hey everybody who came to my Blog!</h5><br> I’m looking for someone with the similar life positions: <ul><li>intelligence, <ul><li>kindness, <ul><li>good manners, <ul><li>purposefulness, <ul><li>firmness of character.</ul></li></ul></li></ul></li></ul></li></ul></li><br> By education and profession, I am an aerospace engineer, studying programming. <br> My hobbies: <ul><li>opera, <ul><li>active lifestyle, <ul><li>learning Italian and much more..</ul></li></ul></li></ul></li><br>
<p>
  You always can find me at my Instagram-account:
  <a href="https://www.instagram.com/dasha.iam/" class="global">@dasha.iam</a>
  </p>
</p>
{% endblock %}