{% extends "base.html" %}
{% block title %}Технологии{% endblock %}
{% block content %}
<div class="row">
  <h2>Направления:</h2>
  <aside class="col-12 col-md-3">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Ракета-носители сверхтяжелого класса
      </li>
      <li class="list-group-item">
        Разгонные блоки
      </li>
      <li class="list-group-item">
        Многоразовые космические летательные аппараты
      </li>
    </ul>
  </aside>
  <article class="col-12 col-md-9">
      <p>
        Инженер аэрокосмических систем – это главное звено в сложной структуре космической отрасли. Именно от него зависит успех миссии, жизнь и здоровье космонавтов.<br><br>
        Этот специалист – настоящий творец, который разрабатывает новые конструкции и механизмы. Он воплощает самые смелые мечты человечества, сводя в единую картину плоды труда разных экспертов отрасли.<br><br>
        Инженер аэрокосмических систем занимается разработкой механизмов космических аппаратов и оборудования: искусственных спутников, ракет, наземной аппаратуры для управления их полетом.<br><br>
        Он должен постоянно учиться чему-то новому, быть в курсе всех новых технологий и технологических решений. А еще – любить физику, разбираться в программировании и иметь тягу к творчеству, ведь без нее не обойтись там, где создается что-то с прицелом на будущее.
        
      </p>
  </article>
</div>
{% endblock %}